@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-push{
    opacity: 0;
    height: 10px;
    margin: 25px 0;
    display: block;
}

.inside-pic-drop{
    box-shadow: inset 0px 5px 10px rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.inside-pic-drop > img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.85;
    z-index: -1;
    max-height: 250px;
    filter: brightness(1);
    transition: 250ms ease-in-out;
}
.inside-pic-drop > img:hover{
    transform: scale(1.2);
    filter: brightness(1.1);
    opacity: 0.75;
}
.simple-pic-drop{
    transition: 250ms ease-in-out;
    filter: brightness(1);
}
.simple-pic-drop:hover{
    transform: rotate(-5deg);
    filter: brightness(1.1);
}
.simple-pic-drop:hover>div>svg{
    filter: brightness(1);
}

.fade{
    mask-image: linear-gradient(black, black 50%, rgba(0, 0, 0, 0));
}
.fade2{
    mask-image: linear-gradient(to right, black, black 75%, rgba(0, 0, 0, 0));
}

.displayInactive{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: #6b8c239b;
}

.paper-crumb > img:first-of-type{
    fill:black;
    mask-image: url("../assets/svg/Paper-rip-rotated.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    mask-size: 100%;
}

.paper-crumb > img:last-of-type{
    object-position: 0 -1.5rem;
}