.dropdown:hover .dropdown.content {
    @apply block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kalam", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1{@apply text-4xl;}
h2{@apply text-2xl;}
h3{@apply: text-xl;}
h4{@apply: text-l;}

p,a,button{font-family: "Open Sans", Arial, Helvetica, sans-serif;}

.logo {
    margin: auto 12.5%;
}
.logo-paper > svg{
    width:120%;
    top: 0;
    left: -20%;
}

html {
    margin: 0 !important;
}

button {
    @apply hover:shadow-lg scale-50;
}

.footer-paper {
    margin: 50% 12.5% 0 12.5%;
}

.footer-logo-container {
    position: relative;
    padding:  3rem 2rem;
    height: fit-content;
}
.footer-logo-container > svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.footer-nav > ul > li > div{
    background-color: #fef9c3;
    border-radius: 0.25rem;
    width: 0;
    z-index: 1;
    transition: 250ms ease-in-out;
}

.footer-nav > ul > li:hover > div{
    width: 100%;
    background-color: #B6D936;
}
.footer-nav > ul > li > a{transition: 250ms ease-in-out;}
.footer-nav > ul > li:hover > a{
    width: 100%;
    color: #fef9c3;
    transform: scale(1.05);
}
.SocialM > i {
    transition: 250ms ease-in-out;
    --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0,0,0,0.05));}
.SocialM:hover > i{
    transform: scale(1.1);
    color: #B6D936;
    --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
}
.hover-effect-foot, .hover-effect-foot > a, .hover-effect-foot > i{
    transition: 250ms;
}
.hover-effect-foot:hover{
    transform: scale(1.1);
    color: #fef9c3;
}

.fp-welcome {
    background-image: url("../assets/svg/fp-wave.svg");
}

.fp-news {
    background-image: url("../assets/svg/news-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-logo{
    margin-bottom: -2rem;
    height: 120%;
}
.header-logo>svg{
    height: 100%;
    grid-row-start: 1;
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    grid-column-start: 1;
    width: 100%;
}

.rip{
    grid-column: 1/span 12;
    z-index: 4;
    margin-bottom: -25px;
    height: 25px;
    width: 100%;
    background-color: revert;
}
.rip > svg{
    width: 100%;
    height: 100%;
    fill:rgb(229 231 235 / var(--tw-bg-opacity));
}

section{height: fit-content; grid-column: 1/ span 12;}

.Active{
    /*@apply scale-110 text-slate-950;*/
    transform: scale(1.1);
    color: black;
}

.wavey-section{
    z-index: 4;
}
#Book-sol{transition: 350ms ease-in-out;}
#Sun-figure{
    transition: 500ms linear;
    rotate: 0deg;
}

.knap{
    border-radius: 25px;
    font-weight: 600;
    background-color: #6BD9F2;
    transition: ease-in-out 250ms;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.255);
}
.knap:hover{
    font-weight: 600;
    background-color: #90e9fd;
    filter: brightness(1.1);
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.255);
}

.Footer-deco{
    width: 110%;
    margin-left: -10%;
    filter: hue-rotate(90deg) saturate(0.5);
    opacity: 0.5;
    z-index: -1;
    mask-image: linear-gradient(180deg, rgba(1, 30, 4, 0) 20%, rgba(255, 255, 255, 0.91) 100%);
}

#Foot-Rip{
    top: -30px;
    height: 60px;
    position: absolute;
}

#Foot-Rip > svg{
    width: 100%;
    fill: #B6D936;
    rotate: 180deg;
    height: 30px;
    z-index: 3;
    top: -10px;
    position: absolute;
    opacity: 1;
}
#Foot-Rip > svg:first-of-type{
    fill: rgb(254 249 195 / var(--tw-bg-opacity));
    z-index: 2;
    top: -20px;
    opacity: 0.75;
}
#Foot-Rip > svg:last-of-type{
    fill: #6B8C23;
    z-index: 4;
    top: 5px;
    opacity: 1;
}

.Waves>svg{
    width: 150%;
}

.Sunset-bg{
    background-image: url("../assets/images/solnedgang-baggrund.jpg");
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.paper-rip > svg{
    width: 100%;
}
.paper-rip > svg > path{fill: #fef9c3;}

.paper-gradient > path{
    fill: #fef9c3;
}
.paper-gradient{
    mask-image: linear-gradient(#fef9c3, #c0bc93);
}

.fp-hero {
    background-image: url("../assets/images/heroimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.fam-kallmayer {
    background-image: url("../assets/svg/fambg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.weatherAndActivities {
    background-image: url("../assets/images/weatherbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.additWeather {
    margin: 5% 5%;
    grid-template-columns: 40% 60%;
}

.windContainer, .humidityContainer {
    grid-template-columns: 1fr 1fr;
	gap: 5%;
}

.dayName {
    font-size: 1.5rem;
}

.forecastDay {
    padding: 10% 0;
}

.SocialM > i{
    font-size: 2rem;
    color: #6B8C23;
}