
.hidden-push{
    opacity: 0;
    height: 10px;
    margin: 25px 0;
    display: block;
}

.inside-pic-drop{
    box-shadow: inset 0px 5px 10px rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.inside-pic-drop > img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.85;
    z-index: -1;
    max-height: 250px;
    filter: brightness(1);
    transition: 250ms ease-in-out;
}
.inside-pic-drop > img:hover{
    transform: scale(1.2);
    filter: brightness(1.1);
    opacity: 0.75;
}
.simple-pic-drop{
    transition: 250ms ease-in-out;
    filter: brightness(1);
}
.simple-pic-drop:hover{
    transform: rotate(-5deg);
    filter: brightness(1.1);
}
.simple-pic-drop:hover>div>svg{
    filter: brightness(1);
}
.tape{
    position: absolute;
    max-width: 150px;
    width: 150px;
    height: 25px;
    rotate: -30deg;
    z-index: 5;
    opacity: 0.60;
}

.tape-left{
    top: 0;
    left: -50px;
}

.tape-right{
    bottom: 0;
    right: -50px;
}

.Waves > svg{
    background-repeat: repeat;
}

.fade{
    mask-image: linear-gradient(black, black 50%, rgba(0, 0, 0, 0));
}