
.hidden-push{
    opacity: 0;
    height: 10px;
    margin: 25px 0;
}

.inside-pic-drop{
    box-shadow: inset 0px 5px 10px rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.inside-pic-drop > img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.85;
    z-index: -1;
    max-height: 250px;
}

.tape{
    position: absolute;
    max-width: 150px;
    width: 150px;
    height: 25px;
    rotate: -30deg;
    z-index: 5;
}

.tape-left{
    top: 0;
    left: -50px;
}

.tape-right{
    bottom: 0;
    right: -50px;
}

.Waves > svg{
    background-repeat: repeat;
}