.dropdown:hover .dropdown.content {
    @apply block;
}

.logo {
    margin: auto 12.5%;
}

html {
    margin: 0 !important;
}

.footer-paper {
    margin: 50% 12.5% 0 12.5%;
}

.footer-logo-container {
    background-image: url("../assets/svg/footer-paper.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 25% 12.5% 15%;
}

.footer-contact {
    margin-top: 35%;
}

.footer-nav {
    margin-top: 50%;
}

.fp-welcome {
    background-image: url("../assets/svg/fp-wave.svg");
}

.fp-news {
    background-image: url("../assets/svg/news-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-logo{
    margin-bottom: -2rem;
    height: 120%;
}
.header-logo>svg{
    height: 100%;
    grid-row-start: 1;
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    grid-column-start: 1;
    width: 100%;
}

.rip > svg{
    width: 100%;
    height: 100%;
    fill:rgb(243 244 246 / var(--tw-bg-opacity));
}

section{height: fit-content; grid-column: 1/ span 12;}